@media screen and (min-width: 768px) {
    .user_main {
    margin: 0;
    background-color: #ebeff3;
    height: 100vh;
    width: 100%;
    }
    }

   
    @media screen and (min-width: 768px) {
        .wrap_div {
        overflow: hidden;
        width: 100%;
        position: fixed;
    z-index: 12;
        /* margin-left: -127px; */
        }
        
        }
        
        @media screen and (min-width: 768px) {
        .wrap_div2 {
        overflow: hidden;
        width: 100%;
        /* margin-left: -66px; */
        }
        
        }
        
        
        body{
            background-color: #ebeff3;
        }
        
        
        @media screen and (min-width: 768px) {
        .header_cntct {
        background: linear-gradient(90deg,rgba(224,245,241,.46) 20.31%,#e0f5f1 43.75%,#bbdcfe 100%),#fff;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
        }
        
        
        @media screen and (min-width: 768px) {
        .txt_quick_strt{
        position: absolute;
        left: 20px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: black;
        }
        }
        
        @media screen and (min-width: 768px) {
            .hedr_box1{
        cursor: pointer;
        margin: 8px 0;
        height: 40px;
        padding: 0 12px 0 8px;
        border-radius: 55px;
        border: 1px solid #ebeff3;
        background: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        }
        
        
        @media screen and (min-width: 768px) {
        .box1_txt{
        color: #12344d;
        margin: 0 0 0 8px;
        }
        }
        
        
        @media screen and (min-width: 768px) {
            .btw_line{
            margin: 0 8px;
            border: 1px solid #2c5cc5;
            width: 27px;
            opacity: .2;
        }
        }
        
        
        @media screen and (min-width: 768px) {
            .cnct_btn{
        border-radius: 64px;
        background-color: #e5f2fd;
        color: #2c5cc5;
        font-size: 12px;
        font-weight: 600;
        margin-left: 8px;
        height: 24px;
        padding: 5px 8px;
        border: none !important;
        }
        }
        
        @media screen and (min-width: 768px) {
            .contct_num2{
            width: 22px;
            height: 22px;
            background: #e5f2fd;
            border-radius: 50%;
            color: black;
            text-align: center;
        }
        }
        
        
        @media screen and (min-width: 768px) {
        .sidebar_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: #12344d;
        position: fixed;
        left: 0;
        width: 4%;
        height: 100%;
        }
        }
        
        
        @media screen and (min-width: 768px) {
            .chat_baloon img{
            height: 40px;
        }
        .chat_baloon{
            position: fixed;
            top: 65px;
        }
        }
        
        
        @media screen and (min-width: 768px) {
            .dashbrd img{
            height: 30px;   
        }
        .dashbrd{
            margin-top: 70px;
        }
        }
        
        
        @media screen and (min-width: 768px) {
        .message img{
        height: 30px;   
        }
        }
        
        
        @media screen and (min-width: 768px) {
        .user img{
        height: 25px;   
        }
        }
        
        
@media screen and (min-width: 768px) {
.people img{
height: 30px;
border-radius: 6px;
}
}


@media screen and (min-width: 768px) {
.open_book img{
height: 25px;
}
}



@media screen and (min-width: 768px) {
.chat img{
height: 25px;
}
}


@media screen and (min-width: 768px) {
.mega_phone img{
height: 25px;
}
}


@media screen and (min-width: 768px) {
.stats img{
height: 25px;
}
}

@media screen and (min-width: 768px) {
.settings img{
height: 25px;
}
}


@media screen and (min-width: 768px) {
.colr_menu{
position: fixed;
bottom: 10px;
}
}
@media screen and (min-width: 768px) {
.scnd_thrd_wrap {
background: #fff;
}
}


@media screen and (min-width: 768px) {
.scndry_navbar {
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
background: #fff;
height: 60px;
justify-content: space-evenly;
margin-left: 65px;
position: relative;
z-index: 10;
margin-top: 60px;
}

}

@media screen and (min-width: 768px) {
.inptdiv {
margin-left: 16px;
align-items: center;
}
}




@media screen and (min-width: 768px) {
.serch_img{
position: relative;
left: 25px;
}
}


input{
border-radius: 4px;
border-color: #cfd7df;
border-style: solid;
width: 200px;
height: 34px;
left: 10px;
padding-left: 30px;
outline-style: none !important;
}
::placeholder{
color: #cfd7df;
}


@media screen and (min-width: 768px) {
.inner_navbar {
width: auto;
height: 34px;
background-color: #f5f7f9;
border: 1px solid #ebeff3;
border-radius: 4px;
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 5px 15px;
gap: 10px;
margin-left: 300px;
}
}


@media screen and (min-width: 768px) {
.inner_txt{
font-weight: 400;
font-size: 11px;
color: #333;
line-height: 16px;
font-style: italic;
}
}


@media screen and (min-width: 768px) {
.warn_img {
height: 12px;
}
}


@media screen and (min-width: 768px) {
.explre_btn{
background: linear-gradient(180deg,var(--white) 0,var(--brand-s25) 100%);
border: 1px solid !important;
border-radius: 4px;
cursor: pointer;
}
}


@media screen and (min-width: 768px) {
.explre_btn_div{
cursor: pointer;
}
}


@media screen and (min-width: 768px) {
.navbr_divider{
width: 1px;
height: 24px;
background: #f0f0f0;
}
}
        

@media screen and (min-width: 768px) {
.plus_btn img{
height: 30px;
cursor: pointer;
}
}


@media screen and (min-width: 768px) {
.name_a {
width: 40px;
height: 40px;
border-radius: 50%;
color: #333;
background-color: #ebeff3;
text-align: center;
padding-top: 7px;
cursor: pointer;
margin-right: 80px;
font-weight: 700;
font-size: larger;
}

}


@media screen and (min-width: 768px) {
.thrd_bar {
width: 100%;
background: #fff;
display: flex;
justify-content: space-between;
align-items: center;
}

}


@media screen and (min-width: 768px) {
.section_one {
display: flex;
position: relative;
overflow: hidden;
margin-left: 80px;
/* background-color: #ebeff3 !important; */
margin-top: 10px;
vertical-align: top;
border-radius: 8px 8px 0px 0px;
gap: 10px;
}

}
/* 
@media screen and (min-width: 768px) {
.highlighted {
background-color: #ebeff3 !important;
padding: 10px 10px 10px 10px;
}
} */

@media screen and (min-width: 768px) {
.cntact_sect {
display: flex;
align-items: center;
color: #a9b8c7;
background-color: #ebeff3 !important;
padding: 10px 10px 10px 10px;
gap: 10px;
cursor: pointer;
}
.active_btn{
color: #a9b8c7;
background-color: #ebeff3 !important;
padding: 10px 10px 10px 10px;
cursor: pointer;
}
}



@media screen and (min-width: 768px) {
.txt_mycontct{
color: black;
font-weight: 500;
font-size: 14px;
}
}


@media screen and (min-width: 768px) {
.txt_four {
width: 20px;
height: 20px;
background-color: #527fa5 !important;
font-weight: 600 !important;
border-radius: 50%;
text-align: center;
display: inline-flex;
justify-content: center;
align-items: center;
}
}


@media screen and (min-width: 768px) {
.close_icon img{
height: 10px;
}
}



@media screen and (min-width: 768px) {
.new_contct_sect {
display: flex;
align-items: center;
/* color: #a9b8c7; */
/* padding: 10px 10px 10px 10px; */
gap: 10px;
/* color: #2c5cc5; */
border-radius: 8px 8px 0px 0px;
cursor: pointer;
}
}

@media screen and (min-width: 768px) {
.txt_new_contct {
/* color: black; */
font-weight: 500;
font-size: 14px;
color: #2c5cc5;
}
}


@media screen and (min-width: 768px) {
.section_two {
display: flex;
margin-bottom: 6px;
align-items: center;
margin-right: 5px;
}
}



@media screen and (min-width: 768px) {
.txt_new_ctrl{
padding: 0px 4px;
border-radius: 4px;
font-weight: 400;
font-size: 12px;
border: 1px solid #ebeff3;
background: #f5f7f9;
margin-left: 5px;
color: #647a8e;
white-space: nowrap;
}
}



@media screen and (min-width: 768px) {
.cutmiz_tble{
display: flex;
justify-content: center;
align-items: center;
background: rgba(18,52,77,0.0784314);
color: #384551;
border-radius: 4px;
border: 1px solid var(--brand-s100);
white-space: nowrap;
cursor: pointer;
padding: 6px 12px;
gap: 5px;
}
}



@media screen and (min-width: 768px) {
.imprt_btns_div{
display: flex;
justify-content: center;
align-items: center;
padding: 6px 6px;
}
}



@media screen and (min-width: 768px) {
.imprt_btn{
border-radius: 4px 0 0 4px;
color: #333;
background: linear-gradient(180deg, #fff 0%, #f5f7f9 100%);
border: 1px solid var(--brand-s100);
padding: 6px 9px;
font-weight: 500;
font-size: 12px;
}
}




select{
border: none !important;
}


@media screen and (min-width: 768px) {
.add_cntct_btn_div{
display: flex;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 6px 9px;
background: rgb(13, 13, 61);
cursor: pointer;
}
}



@media screen and (min-width: 768px) {
.add_cntct_btn{
display: flex;
align-items: center;
gap: 5px;
background: rgb(13, 13, 61);
color: #fff;
border-color: var(--brand-pco900);
border-radius: 4px;
padding: 6px 9px;
font-weight: 500;
font-size: 12px;
border: 1px solid var(--brand-s100);
cursor: pointer;
}
}


@media screen and (min-width: 768px) {
.forth_bar {
display: flex;
justify-content: space-between;
margin-left: 80px;
margin-top: 15px;
position: relative;
    z-index: 10;
}

}


@media screen and (min-width: 768px) {
.forth_sect_one{
display: flex;
align-items: center;
position: relative;
}
}



@media screen and (min-width: 768px) {
.tabl_btn_div{
display: flex;
margin: 0 10px;
cursor: pointer;
}
}
@media screen and (min-width: 768px) {
.tabl_btn{
display: flex;
gap: 5px;
justify-content: center;
align-items: center;
padding: 8px 10px;
border: 1px solid #cfd7df;
height: 34px;
gap: 5px;
border-radius: 4px;
background: linear-gradient(180deg, #fff 0%, #f5f7f9 100%);
cursor: pointer;
}
}

@media screen and (min-width: 768px) {
.tabl_btn2{
display: flex;
gap: 5px;
justify-content: center;
align-items: center;
padding: 8px 10px;
border: 1px solid #cfd7df;
height: 34px;
gap: 5px;
border-radius: 4px;
background: transparent;
cursor: pointer;
border: none;
}
}

@media screen and (min-width: 768px) {
.table-responsive {
margin-top: 10px;
-webkit-box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
border-radius: 10px;
max-width: 83%;
margin-left: 120px;
}
}

@media screen and (min-width: 768px) {
.table  {
margin-bottom: 1rem;
background-color: #fff;
border-radius: 10px;
width: 100%;
/* text-align: center; */
}
}
/* 2 */
@media screen and (min-width: 768px) {
.table-responsive2 {
margin-top: 10px;
-webkit-box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
border-radius: 10px;
width: 122%;
margin-left: 0;
}
}

@media screen and (min-width: 768px) {
.table2  {
margin-bottom: 1rem;
background-color: #fff;
border-radius: 10px;
width: 100%;
margin-left: 0;
/* margin-right: auto; */
}
}
/* 3 */
@media screen and (min-width: 768px) {
.table-responsive3 {
margin-top: 10px;
-webkit-box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
box-shadow: 0px 2px 10px rgba(39,49,58,0.2);
border-radius: 10px;
width: 114% !important;
margin-left: 0px;
}
}

@media screen and (min-width: 768px) {
.table3  {
margin-bottom: 1rem;
background-color: #fff;
border-radius: 10px;
width: 100%;
margin-left: 70px;
margin-right: auto;
}
}
    
 @media screen and (min-width: 768px) {
.table-responsive_plan {
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 10px;
    width: 35%;
}
} 
 


@media screen and (min-width: 768px) {
.tble_img{
    height: 30px;
    border-radius: 50px;
}
}
@media screen and (min-width: 768px) {
    .tble_img2{
        height: 45px;
        border-radius: 50px;
    }
    }


@media screen and (min-width: 768px) {
.inptchck{
height: 20px;
width: 50px;
}
.inptchck_main{
height: 20px;
width: 50px;
margin-left: -90px;
}
.inptchck_user{
height: 20px;
width: 50px;
margin-top: 10px;
}
}

@media screen and (min-width: 768px) {
.tble_name_sect{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
font-size: 13px;
gap: 5px;
border-bottom: none !important;
border-top: none !important;
margin-top: 10px;
}
}
/* 2 */
@media screen and (min-width: 768px) {
.tble_name_sect2{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
font-size: 13px;
gap: 5px;
border-bottom: none !important;
border-top: none !important;
margin-top: 10px;
padding: 2px 60px;
cursor: pointer;
}
}
/* 3 */
@media screen and (min-width: 768px) {
.tble_name_sect3{
/* display: flex;
flex-direction: row; */
align-items: center;
justify-content: space-evenly;
font-size: 13px;
gap: 38px;
border-bottom: none !important;
border-top: none !important;
margin-top: 10px;
padding: 15px 91px;
}
}

@media screen and (min-width: 768px) {
th.name_sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
}
/* 2 */
@media screen and (min-width: 768px) {
th.name_sect2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
}


@media screen and (min-width: 768px) {
td.tble_txt {
    font-size: 12px;
width: 19%;
}
/* 2 */
td.tble_txt2 {
    font-size: 12px;
width: 19%;
text-align: center;
}
th.tble_txt {
    font-size: 13px;
    width: 19%;
}
/* 3 */
th.tble_txt3 {
    font-size: 13px;
    width: 14%;
    padding: 2px 20px;
    text-align: center;
}
th.tble_txt2 {
    font-size: 13px;
    width: 19%;
}
th.nxt_actvty {
    width: 19%;
}
}
    
@media screen and (min-width: 768px) {
select#table_slct {
margin-left: 106px;
}
select#table_slct2 {
margin-left: 100px;
display: flex;
margin-top: -20px;
}
select#table_slct3 {
    margin-left: 20px;
}
}

        @media screen and (min-width: 768px) {
    .badge{
        background-color: #ebeff3;
        padding: 6.5px 10px;
        border-radius: 4px;
        border: none !important;
    }
        }
    
        @media screen and (min-width: 768px) {
    .btn_won{
        color: #264966;
        background-color: #dff0ff;
        border: none !important;
        border-radius: 5px;
        padding: 2px 25px;
    }
        }
    
    .green {
        background:none !important;
    }
    
    @media screen and (min-width: 768px) {
    .btn_div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
    }
    }
    .b-sidebar.b-sidebar-right > .b-sidebar-header .close {
        margin-left: -40px;
       background: #12344d;
        border: 1px solid var(--brand-pco900);
        border-right: 0;
        border-radius: 0 0 0 4px;
        margin-top: -7px;
        color: white !important;
    }
    
    .dtl_btn_top {
        margin-left: 368px;
    }
    .dtl_btn_top2 {
        display: flex;
        gap: 1px;
    }
    
    
    h3.overview_txt {
        font-weight: 800;
        font-size: 18px;
    }
    
    
    @media screen and (min-width: 768px) {
    .profl_sect {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    }
    
    @media screen and (min-width: 768px) {
    .modal_img{
        height: 60px;
        border-radius: 50px;
        /* margin-top: 12px; */
    }
    }
    
    @media screen and (min-width: 768px) {
    .popup_btns_div{
        background: linear-gradient(180deg,var(--white) 0,var(--brand-s25) 100%) !important;
        border: 1px solid var(--brand-s100);
        padding: 0px 5px;
        justify-content: center;
    }
    }
    
    @media screen and (min-width: 768px) {
    .popup_btns{
        display: flex;
        align-items: center;
        gap: 6px;
        /* background: linear-gradient(180deg,var(--white) 0,var(--brand-s25) 100%); */
        border: 1px solid var(--brand-s100);
            outline-style: none !important;
            border-radius: 4px;
            height: 34px;
            padding: 7px 10px;
            cursor: pointer;
    }
    }

@media screen and (min-width: 768px) {
.txt_lyf_cycle{
display: flex;
flex-direction: row;
width: 90%;
justify-content: space-between;
margin-top: -30px;
}
}
@media screen and (min-width: 768px) {
.txt_lyf_cycle1{
display: flex;
flex-direction: row;
width: 28%;
justify-content: space-between;
}
}
@media screen and (min-width: 768px) {
.txt_lyf_cycle2{
display: flex;
flex-direction: row;
width: 26%;
justify-content: space-between;
}
.txt_lyf_cycle3 {
display: flex;
flex-direction: row;
width: fit-content;
justify-content: space-evenly;
gap: 68px;
}
.txt_exp_date{
    margin-left: 0px;
    font-weight: 700;
}
.txt_exp_date2{
    margin-left: 30px;
    font-weight: 700;
}
.txt_plns{
    font-weight: 700;
}
}   

  
    @media screen and (min-width: 768px) {
    .more_dtls_div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 60px;
    width: fit-content;
    margin-top: -1px;
    }
    }
    
    
    @media screen and (min-width: 768px) {
    .tag_icon{
        height: 20px;
    }
    }
    
    @media screen and (min-width: 768px) {
    div#sidebar-1 {
        width: 70% !important;
        background: #fff !important;
    }
    }
    
    .bg-primary {
        background-color: #53948bad!important;
        width: 43% !important;
    }
    .bg-success {
        background-color: #53948bad!important;
        width: 43% !important;
    }
    .bg-info {
        background-color: #53948bad!important;
        width: 43% !important;
    }
    .bg-light {
        background-color: #f8f9fa!important;
        width: 43% !important;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
        width: 220% !important;
        height: 80%;
    }
    
    .bg-light {
        background-color: #f8f9fa!important;
        width: 65% !important;
    }
    
    @media screen and (min-width: 768px) {
    .text_area {
        width: auto;
        margin-left: 730px;
        margin-top: -365px;
        height: fit-content;
        border: 1px solid #0000001f ;
        background: #fff;
        border-bottom: none;
    }
    }
    @media screen and (min-width: 768px) {
    input.inpt_area {
        width: 95%;
        height: 90px;
        overflow-y: auto;
        background-color: #fbf7e4;
        padding: 10px;
        outline: transparent solid 1px;
        border: none;
        border-radius: 8px;
        margin-left: 5px;
        margin-top: 9px;
    }
    }
    
    p.inpt_text {
        margin-left: 15px;
    }
    
    @media screen and (min-width: 768px) {
    .bottom_icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 95px;
        gap: 25px;
    }
    }
    @media screen and (min-width: 768px) {
    .bottom_icons2{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;
        gap: 25px;
    }
    }
    
    
    @media screen and (min-width: 768px) {
    .icon_cover{
        background-color: #fef1e1 !important;
        width: 40px;
        padding: 10px 13px;
        border-radius: 8px;
    }
    }
    
    @media screen and (min-width: 768px) {
    .icon_cover2{
        background-color: #efe8ff !important;
        width: 40px;
        padding: 10px 13px;
        border-radius: 8px;
    }
    }
    
    @media screen and (min-width: 768px) {
    .icon_cover3{
        background-color: #c3f1f8 !important;
        width: 40px;
        padding: 10px 13px;
        border-radius: 8px;
    }
    }
    
    @media screen and (min-width: 768px) {
    b.text-info{
        cursor: pointer;
    }
    }
    
    @media screen and (min-width: 768px) {
    b.text-dark{
        cursor: pointer;
    }
    }

    .custom-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }
      
      .pagination-button {
        padding: 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
      }
      
      .pagination-button:hover {
        background-color: #0056b3;
      }
      
      .pagination-button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
      
      .pagination-list {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
      }
      
      .pagination-list li {
        margin: 0;
        padding: 0;
      }
      
      .pagination-list li.active button {
        background-color: #0056b3;
      }